---
fail_fast: false
minimum_pre_commit_version: "[[ minimum_pre_commit_version ]]"
repos:
  -
    repo: https://github.com/aws-ia/pre-commit-configs
    # To update run:
    # pre-commit autoupdate --freeze
    rev: [[ pre_commit_hooks_rev ]]  # frozen: v1.5.0
    hooks:
      - id: aws-ia-meta-hook
